 body{
    background-color: #bff1bd;
 }

 .loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5.4em;
    height: 5.4em;
    background-color: #bff1bd;
 }

 .hill{
    position: absolute;
    width: 7.1em;
    height: 7.1em;
    top: 1.7em;
    left: 1.7em;
    background-color: transparent;
    border-left: 0.25em solid rgb(19, 133, 35);
    transform: rotate(45deg);
 }

 .hill::after{
    position: absolute;
    width: 7.1em;
    height: 7.1em;
    left: 0;
    background-color: #bff1bd;
 }

 .box{
    position: absolute;
    left: 0;
    bottom: -0.1em;
    width: 1em;
    height: 1em;
    background-color: transparent;
    border: 0.25em solid rgb(85, 143, 93);
    border-radius: 15%;
    transform: translate(0,-1em)rotate(-45deg);
    animation: push 2.5s cubic-bezier(0.79,0,0.47,0.97)
    infinite;
 }

 @keyframes push{
    0%{
        transform: translate(0,-1em)rotate(-45deg);
    }5%{
        transform: translate(0,-1em)rotate(-50deg);
        border: 0.25em solid rgb(85, 143, 93);
    }20%{
        transform: translate(1em,-2em)rotate(47deg);
        border: 0.25em solid rgb(35, 136, 48);
    }25%{
        transform: translate(1em,-2em)rotate(45deg);
    }30%{
        transform: translate(1em,-2em)rotate(40deg);
    }45%{
        transform: translate(2em,-3em)rotate(137deg);
        border: 0.25em solid rgb(25, 99, 35);
    }50%{
        transform: translate(2em,-3em)rotate(135deg);
    }55%{
        transform: translate(2em,-3em)rotate(130deg);
    }70%{
        transform: translate(3em,-4em)rotate(217deg);
        border: 0.25em solid rgb(3, 43, 9);
    }75%{
        transform: translate(3em,-4em)rotate(220deg);
    }100%{
        transform: translate(0,-1em)rotate(-225deg);
    }
 }

