<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrUP</title>
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <header class="header-main">
        <div class="header-main-logo">
            <a href="home.html"><img src="GrupLogo.png" alt="LOGO"></a>
            <nav class="header-main-nav">
                <ul>
                    <li><a href="login.html">Log in</a></li>
                    <li><a href="../Profile/profile.html">Profile</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-main-socials">
            <div></div>
        </div>
    </header>
    <script src="javascript/main.js"></script>
</body>
</html>