<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrUP Login</title>
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <!--LOGIN FORM-->
    <div class="login-form">
        <form id="form">
            <div class="div-main">
                <div class="Sign-In">
                    <label>Sign In</label>
                </div>
                <div class="username-input-box">
                    <input id="username" name="username" type="text" autocomplete="off" placeholder="Username">
                </div>
                <div class="password-input-box">
                    <input id="password" name="password" type="password" placeholder="Password">
                </div>
                <div class="div-msc">
                    <div class="remember-me-checkbox">
                        <label><input type="checkbox">Remember Me</label>
                        <a href="login.html">Forgot Password?</a>
                    </div>
                    <div class="register-account">
                        <label>Don't have an account?</label>
                        <a href="register.html">Register</a>
                    </div>
                </div>
            </div>
            <button class="login-button" type="submit">Log in</button>
        </form>
    </div>

    <div class="div-h1-tag">
        <h1 class="h1-tag">
            <img src="GrupLogo.png" alt="Logo">
        </h1>
    </div>
    <!--END OF LOGIN FORM-->
    <script src="../javascript/login.js"></script>
</body>
</html>