<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrUP Register</title>
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/register.css">
</head>
<body>
    <!--LOGIN FORM-->
    <div class="login-form">
        <form id="form">
            <div class="div-h1-tag">
                <h1 class="h1-tag">
                    <img src="GrupLogo.png" alt="Logo">
                </h1>
            </div>
            <div class="div-main">
                <div class="Sign-In">
                    <label>Create an Account</label>
                </div>
                <div class="email-input-box">
                    <input id="emailAddress" name="emailAddress" type="text" autofocus="true" autocomplete="off" placeholder="Email">
                </div>
                <div class="username-input-box">
                    <input id="username" name="username" type="text" autocomplete="off" placeholder="Username">
                </div>
                <div class="password-input-box">
                    <input id="password" name="password" type="password" placeholder="Password">
                </div>
                <div class="div-msc">
                    <div class="register-account">
                        <label>Already have an account?</label>
                        <a href="login.html">Log In</a>
                    </div>
                </div>
            </div>
            <!--NEED TO STYLE THIS BUTTON, ORIGINAL ON LINE 33 (APPEARS TOP LEFT OF SCREEN)-->
            <button class="register-button" type="submit">Register</button>
        </form>
    </div>
    <!--END OF LOGIN FORM-->
    <script src="../javascript/main.js"></script>
</body>
</html>