*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Uni Sans Heavy CAPS";
}

body{
    background-color: rgb(59, 59, 59);
    background-image: url("BGGrup.png");
}

section{
    width: 100vmin;
    height: 50vh;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.tile{
    height: 200px;
    width: 170px;
    position: relative;
}

input[type="checkbox"]{
    -webkit-appearance: none;
    position: relative;
    height: 100%;
    width: 100%;
    background-color:  rgb(60, 135, 56, 0.8);
    border-radius: 10px;
    border: 5px solid rgb(60, 135, 56);
    cursor: pointer;
    border: 3px solid transparent;
    box-shadow: 15px 15px 25px rgba(2, 28, 53, 0.05);
}

input[type="checkbox"]:after{
    position: absolute;
    font-family: "Uni Sans Heavy CAPS";
    font-weight: 400;
    content: "[]";
    font-size: 22px;
    top: 10px;
    left: 10px;
    color: #e2e6f3;
}

input[type="checkbox"]:hover{
    transform: scale(1.08);
}

input[type="checkbox"]:checked{
    border: 3px solid #e2e6f3;
}

input[type="checkbox"]:checked:after{
    font-weight: 900;
    content: "\f058";
    color: #e2e6f3;
}

label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 80%;
    width: 100%;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    color:#e2e6f3;
}

label .fas{
    font-size: 60px;
    color: #2c2c51;
}

input[type="checkbox"]:checked + label .fas{
    animation: grow;
}

@keyframes grow{
    50%{
        font-size: 80px;
    }
}

label h6{
    font-family: "Poppins",sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #e2e6f3;
}

.div-h1-tag {
    position: absolute;
    width: 125px;
    margin-left: calc(20%);
    margin-top: calc(0%);
}

.h1-tag {
    text-align: center;
    font-size: 72px;
    right: 50%;
    object-position: center;
}

.submit-button {
    position: absolute;
    text-align: center;
    white-space: nowrap;
    background-color: #3c8738cc;
    bottom: calc(10%);
    right: calc(50% - 150px);
    width: 300px;
    height: 80px;
    border-radius: 5px;

    font-family: "Poppins", sans-serif;
    color: #e2e6f3;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    font-size: 24px;
}

.submit-button:hover {
    transform: scale(1.08);
}

.submit-button-text {
    font-family: "Poppins", sans-serif;
    color: #e2e6f3;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    top: calc(50% + 100);
    right: calc(50%);
    font-size: 24px;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #33333300;
    position: absolute;
    width:100px;
    height:300px;
    right:8%;
    top:1%;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #305c2e;
}

.div-button label {
    position: relative;
    margin: 50%;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #33333300;
    position: absolute;
    width:100px;
    height:300px;
    right:8%;
    top:1%;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #305c2e;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #3c8738;
    color: white;
  }

  .burgerPic {
    width:75px;
    height:75px;
  }